body {
  width:60%;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align:center;
  font-variant: small-caps;
  font-size:20px;
  border-color: black;
  border-style: solid;
  border-width: 2px 20px 2px 0px;
}

aside {
  float: right;
  text-align:right;
  border-color: #16bbd1;
  border-style: solid;
  border-width: 0px 20px 0px 0px;
  padding-right: 15px;
  margin-left: 80px;
  font-size:18px
}

aside::first-line {
  font-weight:bold
}

h1 {
  font-size:3.2rem
}

article {
  width:85%;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  background-image: url("WidgetCoLogo.gif"); 
  background-repeat: no-repeat;
  background-size: 100%;
}

h2 {
  font-size:2rem;
  font-style: italic;
  text-align: center;
  line-height: 0.9;
}

p {
  font-size:20px;
  text-align: justify;
  line-height: 1.5;
}

section {
  background-color:#fffcec;
  border-color: rgb(221, 51, 170);
  border-style: solid;
  border-width: 3px 3px 3px 30px;
  padding: 10px 10px 10px 20px;
  font-size:20px;
  text-align:justify;
  margin-bottom:15px;
}

a {
  font-weight:bold
}

footer {
  color:gray;
  text-align:right;
  border-color: gray;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  font-style: italic;
  font-size:18px;
  padding-top: 5px;
}

 a[href*='widget'] { 
  color:gray
}